<a href="https://colab.research.google.com/github/nceder/qpb4e/blob/main/code/Chapter%2008/Chapter_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 8 Control flow

# 8.1 The if-elif-else statement

In [5]:
# you can change the value of guess to test how the if statement behaves
guess = 4
target = 7

if guess < target:
  print("Low")
elif guess == target:
  print("Correct!")
else:
  print("High")

Low

# 8.2 Structural pattern matching with match

In [ ]:
# change the value of x to experiment with the match statement
x = 5
match x:
  case "A":
    print("A")
  case str():
    print("some other string")
  case 0:
    print("Zero")
  case 1 | 2 | 3:
    print(f"value {x} in range")
  case int():
    print(f"The integer {x}")
  case _:
    print("Neither string nor int")

A

# 8.3 The while loop

In [11]:
response = ""
while response != "Q":
  response = input("Q to quit, B to break")
  if response == "B":
    break
else:
  print("no break")

# 8.4 The for loop

In [ ]:
x = [1.0, 2.0, 3.0, 0.0, -1.0]
for n in x:
    if n == 0.0:
      print("skipping 0.0")
      continue
    elif n < 0.0:
      print("no negative numbers!")
      break
    print(1 / n)
else:
  print("Loop completed normally")

1.0
0.5
0.3333333333333333
skipping 0.0
no negative numbers!

## 8.4.1 The range function

In [ ]:
x = [1, 3, -7, 4, 9, -5, 4]
for i in range(len(x)):
    if x[i] < 0:
        print("Found a negative number at index ", i)

Found a negative number at index  2
Found a negative number at index  5

7

## 8.4.2 Controlling range with starting and stepping values

In [14]:
list(range(3, 7))        #A

[3, 4, 5, 6]

In [15]:
list(range(2, 10))       #A

[2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
list(range(5, 3))

[]

In [ ]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [17]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

## 8.4.3 Using break and continue in for loops

## 8.4.4 The for loop and tuple unpacking

In [20]:
somelist = [(1, 2), (3, 7), (9, 5)]
result = 0
for t in somelist:
    result = result + (t[0] * t[1])
print(result)

68

In [21]:
somelist = [(1, 2), (3, 7), (9, 5)]
result = 0

for x, y in somelist:
    result = result + (x * y)
print(result)

68

## 8.4.5 The enumerate function

In [ ]:
x = [1, 3, -7, 4, 9, -5, 4]
for i, n in enumerate(x):             #A
    if n < 0:                                #B
        print("Found a negative number at index ", i)   #C

Found a negative number at index  2
Found a negative number at index  5

## 8.4.6 The zip function

In [ ]:
x = [1, 2, 3, 4]
y = ['a', 'b', 'c']         #A
z = zip(x, y)
list(z)

[(1, 'a'), (2, 'b'), (3, 'c')]

### Try This: Looping and if statements
Suppose that you have a list `x = [1, 3, 5, 0, -1, 3, -2]`, and you need to remove all negative numbers from that list. Write the code to do this.

How would you count the total number of negative numbers in a list `y = [[1, -1, 0], [2, 5, -9], [-2, -3, 0]]`?

What code would you use to print "very low" if the value of x is below -5, "low" if it's from -5 up to 0, "neutral" if it's equal to 0, "high" if it'' greater than 0 up to 5, and "very high" if it's greater than 5?

Suppose that you have a list `x = [1, 3, 5, 0, -1, 3, -2]`, and you need to remove all negative numbers from that list. Write the code to do this.

In [28]:
x = [1, 3, 5, 0, -1, 3, -2]

for i, v in enumerate(x):
    if v < 0:
        del x[i]
print(x)

[1, 3, 5, 0, 3]

In [32]:
y = [[1, -1, 0], [2, 5, -9], [-2, -3, 0]]
result = 0

for list in y:
    for n in list:
        if n < 0:
            result += 1
print(result)

4

In [40]:
x = 0

if x < -5:
    print("Very Low")
elif x >= -5 and x < 0:
    print("Low")
elif x == 0:
    print("Neutral")
elif x >= 0 and x < 5:
    print("High")
else:
    print("Very High")

Neutral

In [ ]:
x = [1, 3, 5, 0, -1, 3, -2]
for i in x:
    if i < 0:
        x.remove(i)
print(x)

In [ ]:
count = 0
y = [[1, -1, 0], [2, 5, -9], [-2, -3, 0]]
for row in y:
    for col in row:
        if col < 0:
            count += 1
print(count)

In [ ]:
if x < -5:
    print("very low")
elif x <= 0:
    print("low")
elif x == 0:   # could be 'elif not x:' but the point here is comparison to 0
    print("neutral")
elif x <= 5:
    print("high")
else:
    print("very high")

# 8.5 List, set, and dictionary comprehensions

In [ ]:
x = [1, 2, 3, 4]
x_squared = []
for item in x:
    x_squared.append(item * item)

x_squared

[1, 4, 9, 16]

In [ ]:
x = [1, 2, 3, 4]
x_squared = [item * item for item in x]
x_squared

[1, 4, 9, 16]

In [ ]:
x = [1, 2, 3, 4]
x_squared = [item * item for item in x if item > 2]

In [ ]:
x_squared

[9, 16]

In [ ]:
x = [1, 2, 3, 4]
x_squared_dict = {item: item * item for item in x}
x_squared_dict

{1: 1, 2: 4, 3: 9, 4: 16}

## 8.5.1 Generator expressions

In [ ]:
x = [1, 2, 3, 4]
x_squared = (item * item for item in x)
x_squared

In [ ]:
for square in x_squared:
    print(square,)

1
4
9
16

### Try This: Comprehensions
What list comprehension would you use to process the list x so that all negative values are removed?

Create a generator that returns only odd numbers from 1 to 100. (Hint: A number is odd if there is a remainder if divided by 2; use % 2 to get the remainder of division by 2.)

Write the code to create a dictionary of the numbers and their cubes from 11 through 15.

What list comprehension would you use to process the list x so that all negative values are removed?

In [42]:
x = [1, 0, -5, 5, -3, 12]

new_x = [n for n in x if n >= 0]
print(new_x)

[1, 0, 5, 12]

In [47]:
x = [1, 0, -5, 5, -3, 12]

new_x = (n for n in x if n % 2 != 0)
print(new_x)

for x in new_x:
    print(x)

<generator object <genexpr> at 0x00000221418A68E0>
1
-5
5
-3

In [48]:
new_dict = {x: x*x*x for x in range(11,16)}
print(new_dict)

{11: 1331, 12: 1728, 13: 2197, 14: 2744, 15: 3375}

In [ ]:
x = [1, 3, 5, 0, -1, 3, -2]
new_x = [i for i in x if i >= 0]
print(new_x)

[1, 3, 5, 0, 3]

In [ ]:
odd_100 = (x for x in range(100) if x % 2)
for i in odd_100:
    print(i))

In [ ]:
cubes = {x: x**3 for x in range(11, 16)}
print(cubes)

{11: 1331, 12: 1728, 13: 2197, 14: 2744, 15: 3375}

# 8.6 Statements, blocks, and indentation

In [ ]:
x = 1; y = 0; z = 0
if x > 0: y = 1; z = 10
else: y = -1

print(x, y, z)

1 1 10

In [ ]:
x = 1
 x = 2

IndentationError: unexpected indent (<ipython-input-24-c75cba843d9b>, line 2)

In [ ]:
>>> x = 1
... if x == 1:
...    y = 2
...    if y > 0:
...        z = 2
...        v = 0
...
>>> x = 2

In [ ]:
x = 1
if x == 1:
    y = 2
  z = 2

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [ ]:
print('string1', 'string2', 'string3' \
   , 'string4', 'string5')

string1 string2 string3 string4 string5

In [ ]:
x = 100 + 200 + 300 \
   + 400 + 500
x

1500

In [ ]:
v = [100, 300, 500, 700, 900,
   1100, 1300]
v

[100, 300, 500, 700, 900, 1100, 1300]

In [ ]:
max(1000, 300, 500,
       800, 1200)

1200

In [ ]:
x = (100 + 200 + 300
         + 400 + 500)
x

1500

In [ ]:
"strings separated by whitespace "    \
   '''are automatically'''  ' concatenated'

'strings separated by whitespace are automatically concatenated'

In [ ]:
x = 1
if x > 0:
       string1 = "this string broken by a backslash will end up \
               with the indentation tabs in it"

repr(string1)

"'this string broken by a backslash will end up                with the indentation tabs in it'"

In [ ]:
if x > 0:
       string1 = "this can be easily avoided by splitting the " \
           "string in this way"

string1

'this can be easily avoided by splitting the string in this way'

# 8.7 Boolean values and expressions

## 8.7.2 Comparison and Boolean operators

In [ ]:
[2] and [3, 4]

[3, 4]

In [ ]:
[] and 5

[]

In [ ]:
[2] or [3, 4]

[2]

In [ ]:
[] or 5

5

In [ ]:
x = [0]
y = [x, 1]
x is y[0]          #A

True

In [ ]:
x = [0]            #B
x is y[0]

False

In [ ]:
x == y[0]

True

### Quick Check: Booleans and truthiness
Decide whether the following statements are true or false: `1`, `0`, `-1`, `[0]`, `1 and 0`, `1 > 0 or []`.

* `1` ->: `True`.
* `0` ->: `False`.
* `-1`: `True`.
* `[0]`: `True`; it's a list containing one item.
* `1 and 0`: False.
* `1 > 0 or []`: True.

# 8.8 Writing a simple program to analyze a text file

**Execute the cell below to create the file `word_count.tst`**

In [49]:
# create file word_count.tst"
open("word_count.tst", "w").write("""Python provides a complete set of control flow elements,
including while and for loops, and conditionals.
Python uses the level of indentation to group blocks
of code with control elements.""")

189

In [51]:
#!/usr/bin/env python3

''' Reads a file and returns the number of lines, words,
    and characters - similar to the UNIX wc utility
'''

infile = open('word_count.tst')                   #A

lines = infile.read().split("\n")          #B

line_count = len(lines)               #C

word_count = 0     #D
char_count = 0     #D

for line in lines:                      #E

    words = line.split()                #F
    word_count += len(words)

    char_count += len(line)             #G

print("File has {0} lines, {1} words, {2} characters".format           #H
                             (line_count, word_count, char_count))     #H

File has 4 lines, 30 words, 186 characters

### Lab 8: Refactor word_count
Rewrite the word-count program from section 8.7 to make it shorter. You may want to look at the string and list operations already discussed, as well as think about different ways to organize the code. You may also want to make the program smarter so that only alphabetic strings (not symbols or punctuation) count as words.

In [ ]:
# Author's solution

# File: word_count_refactored.py
""" Reads a file and returns the number of lines, words,
    and characters - similar to the UNIX wc utility
"""

# initialze counts
line_count = 0
word_count = 0
char_count = 0

# open the file
with  open('word_count.tst') as infile:
    for line in infile:
        line_count += 1
        char_count += len(line)
        word_count += len(line.split())

# print the answers using the format() method
print("File has {0} lines, {1} words, {2} characters".format(line_count,
                                               word_count, char_count))

File has 4 lines, 30 words, 189 characters

In [53]:
# Generated by Colaboratory

# prompt: Refactor the word-count program above to make it shorter.
#         You may want to look at the string and list operations, as well as
#         think about  different ways to organize the code.

#!/usr/bin/env python3

''' Reads a file and returns the number of lines, words,
    and characters - similar to the UNIX wc utility
'''

with open('word_count.tst') as infile:
    lines = infile.read().split("\n")
    words = [word for line in lines for word in line.split()]
    chars = sum(len(line) for line in lines)

print("File has {0} lines, {1} words, {2} characters".format(len(lines), len(words), chars))

File has 4 lines, 30 words, 186 characters

In [ ]:
# Generated by Copilot
#!/usr/bin/env python3

""" Reads a file and returns the number of lines, words,
    and characters - similar to the UNIX wc utility
"""

with open('word_count.tst') as infile:
    lines = infile.readlines()

line_count = len(lines)
word_count = sum(len(line.split()) for line in lines)
char_count = sum(len(line) for line in lines)

print(f"File has {line_count} lines, {word_count} words, {char_count} characters")z

File has 4 lines, ['of', 'code', 'with', 'control'] words, 189 characters
['of', 'code', 'with', 'control']