<a href="https://colab.research.google.com/github/nceder/qpb4e/blob/main/code/Chapter%2004/Chapter_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4 The absolute basics

# 4.3 Variables and assignments

In [24]:
a = [1, 2, 3]
b = a
c = b
b[1] = 5
print(a, b, c)

[1, 5, 3] [1, 5, 3] [1, 5, 3]

In [25]:
a = 1
b = a
c = b
b = 5
print(a, b, c)

1 5 1

In [26]:
x = "Hello"
print(x)

Hello

In [27]:
x = 5
print(x)

5

In [28]:
del x
print(x)

NameError: name 'x' is not defined

# 4.4 Optional type hints in Python

In [ ]:
def add_ints(x: int, y: int) -> int:      #A
     return x + y

p: int = 2.3                               #B
z = add_ints(1, 2)
w = add_ints(1.5, 2.5)                     #C

# 4.5 Expressions

In [ ]:
x = 3
y = 5
z = (x + y) / 2

### Try This: variables and expressions
In the cell below, create some variables. What happens when you try to put spaces, dashes, or other nonalphanumeric characters in the variable name? Play around with a few complex expressions, such as x = 2 + 4 * 5 - 6 / 3. Use parentheses to group the numbers in different ways, and see how that changes the result compared with the original ungrouped expression.

In [ ]:
# enter you experiments in this cell
x = 2 + (4 * 5) - (6 / 3)
x

20.0

# 4.6 Strings

In [ ]:
x = "\tThis string starts with a \"tab\"."
print(x)
x = "This string contains a single backslash(\\)."
print(x)

	This string starts with a "tab".
This string contains a single backslash(\).

In [ ]:
x = "Hello, World"
print(x)
x = 'Hello, World'
print(x)

Hello, World
Hello, World

In [ ]:
x = "Don't need a backslash"
print(x)
x = 'Can\'t get by without a backslash'
print(x)
x = "Backslash your \" character!"
print(x)
x = 'You can leave the " alone'
print(x)

Don't need a backslash
Can't get by without a backslash
Backslash your " character!
You can leave the " alone

In [ ]:
# This Python code will cause an ERROR -- you can't
# split the string across two lines.
x = "This is a misguided attempt to
put a newline into a string without using backslash-n"

SyntaxError: unterminated string literal (detected at line 3) (75225033.py, line 3)

In [ ]:
x = """Starting and ending a string with triple " or ' characters
permits embedded newlines, and the use of " and ' without
backslashes"""
print(x)

Starting and ending a string with triple " or ' characters
permits embedded newlines, and the use of " and ' without
backslashes

# 4.7 Numbers

In [ ]:
5 + 2 - 3 * 2

1

In [ ]:
5 / 2          # floating-point result with normal division

2.5

In [ ]:
5 / 1       # also a floating-point result

3.125

In [ ]:
5 // 2         # integer result with truncation when divided using '//'

3.0

In [ ]:
30000000000    # This would be too large to be an int in many languages

30000000000

In [ ]:
30000000000 * 3

90000000000

In [ ]:
30000000000 * 3.0

90000000000.0

In [ ]:
2.0e-8         # Scientific notation gives back a float

2e-08

In [ ]:
3000000 * 3000000

9000000000000

In [ ]:
int(200.2)

200

In [ ]:
int(2e2)

200

In [ ]:
float(200)

200.0

In [ ]:
x = hex(255)         # Convert an integer to a hexadecimal string
y = oct(255)         # Convert an integer to an octal string
z = pow(2, 8)         # Calculate 2 raised to the power of 8
print(x, y, z)

0xff 0o377 256

## 4.7.4 Complex numbers

In [ ]:
(3+2j)

(3+2j)

In [ ]:
3 + 2j - (4+4j)

(-1-2j)

In [ ]:
(1+2j) * (3+4j)

(-5+10j)

In [ ]:
1j * 1j

(-1+0j)

In [ ]:
z = (3+5j)
z.real

3.0

In [ ]:
z.imag

5.0

## 4.7.5 Advanced complex-number functions

In [ ]:
import cmath
cmath.sqrt(-1)

1j

In [22]:
from math import *
exp(5)

148.4131591025766

In [23]:
import math
math.exp(5)

148.4131591025766

### Try This: Manipulating strings and numbers
In the cell below, create some string and number variables (integers, floats, and complex numbers). Experiment a bit with what happens when you do operations with them, including across types. Can you multiply a string by an integer, for example, or by a float or complex number? Also, load the math module and try out a few of the functions; then load the cmath module and do the same. What happens if you try to use one of those functions on an integer or float after loading the cmath module? How might you get the math module functions back?

In [ ]:
# enter you experiments in this cell

x = 5 * 'python'
print(x)

# y = 2.5 * 'python' # This will cause an error because you can't multiply a string by a float

import cmath

z = 3 + 4j
print(z)
print(z.real)

pythonpythonpythonpythonpython
(3+4j)
3.0

# 4.9 Getting input from the user

In [32]:
name = input("Name? ")

In [33]:
print(name)

Cristiano

In [34]:
age = int(input("Age? "))

In [35]:
print(age)

40

### Try this: Getting input
Experiment with the input() function to get string and integer input. Using code similar to the previous code, what is the effect of not using int() around the call to input()for integer input? Can you modify that code to accept a float—say, 28.5? What happens if you deliberately enter the wrong type of value? Examples include a float in which an integer is expected and a string in which a number is expected—and vice versa.

In [39]:
# enter you experiments in this cell

age = float(input("Age? "))
print(age)

35.5

###Quick Check: Pythonic style
Which of the following variable and function names do you think are not good Pythonic style? Why?

`bar(), varName, VERYLONGVARNAME, foobar, longvarname, foo_bar(), really_very_long_var_name`

* `bar(`: Not good, not legal, includes symbol
* `varName`: Not good, mixed case
* `VERYLONGVARNAME`: Not good, long, all caps, hard to read
* `foobar`: Good
* `longvarname`: Good, although underscores to separate words would be better
* `foo_bar()`: Good
* `really_very_long_var_name`: Long, but good if all of the words are needed, perhaps to distinguish among similar variables