<a href="https://colab.research.google.com/github/nceder/qpb4e/blob/main/code/Chapter%2005/Chapter_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5 Lists, tuples, and sets

# 5.1 Lists are like arrays

In [2]:
# This assigns a three-element list to x
x = [1, 2, 3]

In [1]:
# First element is a number, second is a string, third is another list.
x = [2, "two", [1, 2, 3]]
len(x)

3

### Quick Check: len()
What would len() return for each of the following: `[0]`; `[]`; `[[1, 3, [4, 5], 6], 7]`?

In [3]:
len([0])

1

In [4]:
len([])

0

In [5]:
len([[1, 3, [4, 5], 6], 7])

2

## 5.2 List indices

In [6]:
x = ["first", "second", "third", "fourth"]
x[0]

'first'

In [7]:
x[2]

'third'

In [8]:
x[-2]

'third'

In [10]:
x = ["first", "second", "third", "fourth"]
x[1:-1]

['second', 'third']

In [11]:
x[0:3]

['first', 'second', 'third']

In [12]:
x[2:]

['third', 'fourth']

In [9]:
y = x[:]
y[0] = '1 st'
y

['1 st', 'second', 'third', 'fourth']

In [14]:
x

['first', 'second', 'third', 'fourth']

### Try This: list slices and indexes
Using what you know about the `len()` function and list slices, how would you combine the two to get the second half of a list when you don't know what size it is? Experiment in the Python shell to confirm that your solution works.

In [13]:
my_list = [1, 2, 3, 4, 5, 6]
print(len(my_list)//2)
last_half = my_list[len(my_list)//2:]
last_half

3

[4, 5, 6]

## 5.3 Modifying lists

In [14]:
x = [1, 2, 3, 4]
x[1] = "two"
x

[1, 'two', 3, 4]

In [15]:
x = [1, 2, 3, 4]
x[len(x):] = [5, 6, 7]              #A
x

[1, 2, 3, 4, 5, 6, 7]

In [17]:
x[:0] = [-1, 0]                     #B
x

[-1, 0, 1, 2, 3, 4, 5, 6, 7]

In [18]:
x[1:-1] = []                        #C
x

[-1, 7]

In [16]:
x = [1, 2, 3]
x.append("four")
x

[1, 2, 3, 'four']

In [17]:
x = [1, 2, 3, 4]
y = [5, 6, 7]
x.append(y)
x

[1, 2, 3, 4, [5, 6, 7]]

In [18]:
x = [1, 2, 3, 4]
y = [5, 6, 7]
x.extend(y)
x

[1, 2, 3, 4, 5, 6, 7]

In [19]:
x = [1, 2, 3]
x.insert(2, "hello")
x

[1, 2, 'hello', 3]

In [23]:
x.insert(0, "start")
x

['start', 1, 2, 'hello', 3]

In [24]:
x = [1, 2, 3]
x[1:1] = ["two"]
x

[1, 'two', 2, 3]

In [20]:
x = [1, 2, 3]
x.insert(-1, "hello")
x

[1, 2, 'hello', 3]

In [23]:
x = ['a', 2, 'c', 7, 9, 11]
del x[1]
x

['a', 'c', 7, 9, 11]

In [29]:
x = ['a', 2, 'c', 7, 9, 11]
x[1:2] = []
x

['a', 'c', 7, 9, 11]

In [22]:
del x[:2]
x

[7, 9, 11]

In [27]:
x = [1, 2, 3, 4, 3, 5]
x.remove(3)
x

[1, 2, 4, 3, 5]

In [28]:
x.remove(3)
x

[1, 2, 4, 5]

In [29]:
x.remove(3)

ValueError: list.remove(x): x not in list

In [30]:
x = [1, 3, 5, 6, 7]
x.reverse()
x

[7, 6, 5, 3, 1]

### Try this: Modifying lists
Suppose that you have a list 10 items long. How might you move the last three items from the end of the list to the beginning, keeping them in the same order?

In [34]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list = my_list[-3:] + my_list[:-3]
my_list

[8, 9, 10, 1, 2, 3, 4, 5, 6, 7]

## 5.4 Sorting lists

In [34]:
my_list = my_list[-3:] + my_list[:-3]
my_list

[5, 6, 7, 8, 9, 10, 1, 2, 3, 4]

In [35]:
x = [3, 8, 4, 0, 2, 1]
x.sort()
x

[0, 1, 2, 3, 4, 8]

In [36]:
x = [2, 4, 1, 3]
y = x[:]
y.sort()
y

[1, 2, 3, 4]

In [37]:
x

[2, 4, 1, 3]

In [1]:
x = ["Life", "Is", "Enchanting"]
x.sort()
x

['Enchanting', 'Is', 'Life']

In [2]:
x = [1, 2, 'hello', 3]
x.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [40]:
x = [[3, 5], [2, 9], [2, 3], [4, 1], [3, 2]]
x.sort()
x

[[2, 3], [2, 9], [3, 2], [3, 5], [4, 1]]

In [41]:
def comp_num_of_chars(string1):
    return len(string1)
word_list = ['Python', 'is', 'better', 'than', 'C']
word_list.sort()
print(word_list)

['C', 'Python', 'better', 'is', 'than']

In [42]:
word_list = ['Python', 'is', 'better', 'than', 'C']
word_list.sort(key=comp_num_of_chars)
print(word_list)

['C', 'is', 'than', 'Python', 'better']

In [43]:
x = (4, 3, 1, 2)
y = sorted(x)
y

[1, 2, 3, 4]

In [44]:
z = sorted(x, reverse=True)
z

[4, 3, 2, 1]

### Try this: Sorting lists
Suppose that you have a list in which each element is in turn a list: `[[1, 2, 3], [2, 1, 3], [4, 0, 1]]`. If you wanted to sort this list by the second element in each list so that the result would be `[[4, 0, 1], [2, 1, 3], [1, 2, 3]]`, what function would you write to pass as the key value to the sort() method?

In [11]:
# experiement here

x = [[1, 2, 3], [2, 1, 3], [4, 0, 1]]

def sort_by_second_element(x):
    return x[1]

x.sort(key=sort_by_second_element)

print(x)

x.sort(key=lambda x: x[1])

print(x)

[[4, 0, 1], [2, 1, 3], [1, 2, 3]]
[[4, 0, 1], [2, 1, 3], [1, 2, 3]]

In [26]:
x = 'Marco'

def return_position(x):
    y = input("Enter a character to find its position: ")
    if y.lower() in x.lower():
        return x.lower().index(y.lower())

return_position(x)

3

## 5.5 Other list operations

In [45]:
3 in [1, 3, 4, 5]

True

In [46]:
3 not in [1, 3, 4, 5]

False

In [47]:
3 in ["one", "two", "three"]

False

In [48]:
3 not in ["one", "two", "three"]

True

In [49]:
z = [1, 2, 3] + [4, 5]
z

[1, 2, 3, 4, 5]

In [50]:
z = [None] * 4
z

[None, None, None, None]

In [51]:
z = [3, 1] * 2
z

[3, 1, 3, 1]

In [52]:
min([3, 7, 0, -2, 11])

-2

In [53]:
max([4, "Hello", [1, 2]])

TypeError: '>' not supported between instances of 'str' and 'int'

In [54]:
x = [1, 3, "five", 7, -2]
x.index(7)

3

In [55]:
x.index(5)

ValueError: 5 is not in list

In [56]:
x = [1, 2, 2, 3, 5, 2, 5]
x.count(2)

3

In [57]:
x.count(5)

2

In [58]:
x.count(4)

0

### Quick Check: List Operations
What would be the result of `len([[1,2]] * 3)`?

What are two differences between using the `in` operator and a list's `index()` method?

Which of the following will raise an exception?: `min(["a", "b”, "c"])`; `max([1, 2, "three"])`; `[1, 2, 3].count("one")`

In [ ]:
len([[1,2]] * 3)

[[1, 2], [1, 2], [1, 2]]

What are two differences between using the `in` operator and a list's `index()` method?

* index gives position; in gives a true/false answer.
* index gives an error if an element isn’t in the list.
Which of the following raises an exception?

In [30]:
min(["a", "b", "c"])

'a'

In [31]:
max([1, 2, "three"])

TypeError: '>' not supported between instances of 'str' and 'int'

In [32]:
[1, 2, 3].count("one")

0

### Try This: List operations
If you have a list x, write the code to safely remove an item if—and only if—that value is in the list.

Modify that code to remove the element only if the item occurs in the list more than once.

In [44]:
x = [1, 2, 3, 2, 1, 3]

def safe_remove(x, y):
    if y in x:
        x.remove(y)
    return x    

safe_remove(x, 3)

[1, 2, 2, 1, 3]

In [46]:
x = [1, 2, 3, 2, 1, 3]

def safe_remove(x, y):
    if y in x:
        if x.count(y) > 1:
            x.remove(y)
    return x    

safe_remove(x, 3)

[1, 2, 2, 1, 3]

In [47]:
x = [1, 2, 3, 4, 5, 4]
# change element to a value not in x to text counter case
element = 3
if element in x:
    x.remove(element)
x

[1, 2, 4, 5, 4]

In [48]:
x = [1, 2, 3, 4, 5, 4]
# change element to something other than 4 or a value not in x to text counter cases
element = 4
if x.count(element) > 1:
    x.remove(element)
x

[1, 2, 3, 5, 4]

## 5.6 Nested lists and deep copies

In [59]:
m = [[0, 1, 2], [10, 11, 12], [20, 21, 22]]
m[0]

[0, 1, 2]

In [60]:
m[0][1]

1

In [61]:
m[2]

[20, 21, 22]

In [62]:
m[2][2]

22

In [49]:
nested = [0]
original = [nested, 1]
original

[[0], 1]

In [64]:
nested[0] = 'zero'
original

[['zero'], 1]

In [65]:
original[0][0] = 0
nested

[0]

In [66]:
original

[[0], 1]

In [67]:
nested = [2]
original

[[0], 1]

In [50]:
original = [[0], 1]
shallow = original[:]
import copy
deep = copy.deepcopy(original)

In [51]:
shallow[1] = 2
shallow

[[0], 2]

In [70]:
original

[[0], 1]

In [71]:
shallow[0][0] = 'zero'
original

[['zero'], 1]

In [72]:
deep[0][0] = 5
deep

[[5], 1]

In [73]:
original

[['zero'], 1]

### Try This: List copies
Suppose that you have the following list: `x = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]` What code could you use to get a copy y of that list in which you could change the elements without the side effect of changing the contents of x?

In [53]:
import copy
x = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

y = copy.deepcopy(x)
y

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
import copy
x = [1, 2, 3, 4, 5]
copy_x = copy.deepcopy(x)
copy_x

[1, 2, 3, 4, 5]

## 5.7 Tuples

In [74]:
x = ('a', 'b', 'c')
x[2]

'c'

In [75]:
x[1:]

('b', 'c')

In [76]:
len(x)

3

In [77]:
max(x)

'c'

In [78]:
min(x)

'a'

In [79]:
5 in x

False

In [80]:
5 not in x

True

In [81]:
x[2] = 'd'

TypeError: 'tuple' object does not support item assignment

In [82]:
x + x

('a', 'b', 'c', 'a', 'b', 'c')

In [83]:
2 * x

('a', 'b', 'c', 'a', 'b', 'c')

In [84]:
x[:]

('a', 'b', 'c')

In [85]:
x * 1

('a', 'b', 'c')

In [86]:
x + ()

('a', 'b', 'c')

In [12]:
x = 2
y = 3
z = (x + y,) # Including a comma indicates that the parentheses denote a tuple.
z

(5,)

In [5]:
()        # To create an empty tuple, use an empty pair of parentheses.

()

In [8]:
(one, two, three, four) =  (1, 2, 3, 4)
(one, two, three, four)

(1, 2, 3, 4)

In [91]:
two

2

In [7]:
one, two, three, four = 1, 2, 3, 4

In [13]:
x = (1, 2, 3, 4)
a, b, *c = x
a, b, c

(1, 2, [3, 4])

In [94]:
a, *b, c = x
a, b, c

(1, [2, 3], 4)

In [95]:
*a, b, c = x
a, b, c

([1, 2], 3, 4)

In [96]:
a, b, c, d, *e = x
a, b, c, d, e

(1, 2, 3, 4, [])

In [14]:
[a, b] = [1, 2]
[c, d] = 3, 4
[e, f] = (5, 6)
(g, h) = 7, 8
i, j = [9, 10]
k, l = (11, 12)
a

1

In [98]:
[b, c, d]

[2, 3, 4]

In [99]:
(e, f, g)

(5, 6, 7)

In [100]:
h, i, j, k, l

(8, 9, 10, 11, 12)

In [101]:
list((1, 2, 3, 4))

[1, 2, 3, 4]

In [102]:
tuple([1, 2, 3, 4])

(1, 2, 3, 4)

In [103]:
list("Hello")

['H', 'e', 'l', 'l', 'o']

### Quick Check: Tuples
Explain why the following operations aren't legal for the tuple `x = (1, 2, 3, 4)`:

`x.append(1)`

`x[1] = "hello"`

`del x[2]`

All of these operations change the object in place, and tuples can't be changed.


If you had a tuple `x = (3, 1, 4, 2)`, how might you end up with x sorted?

In [18]:
x = (3, 1, 4, 2)
x = tuple(sorted(x))
x

(1, 2, 3, 4)

## 5.8 Sets

In [2]:
x = set([1, 2, 3, 1, 3, 5])    #A
x

{1, 2, 3, 5}

In [28]:
x.add(6)              #C
x

{1, 2, 3, 5, 6}

In [21]:
x.remove(5)                    #D
x

{1, 2, 3, 6}

In [107]:
1 in x        #E

True

In [108]:
4 in x        #E

False

In [3]:
y = set([1, 7, 8, 9])
x | y                #F

{1, 2, 3, 5, 7, 8, 9}

In [110]:
x & y                  #G

{1}

In [111]:
x ^ y                  #H

{2, 3, 6, 7, 8, 9}

In [112]:
x = set([1, 2, 3, 1, 3, 5])
z = frozenset(x)
z

frozenset({1, 2, 3, 5})

In [113]:
z.add(6)

AttributeError: 'frozenset' object has no attribute 'add'

In [114]:
x.add(z)
x

{1, 2, 3, 5, frozenset({1, 2, 3, 5})}

### Quick Check: Sets
If you were to construct a set from the following list, how many elements would the set have?: `[1, 2, 5, 1, 0, 2, 3, 1, 1, (1, 2, 3)]`

In [36]:
len(set([1, 2, 5, 1, 0, 2, 3, 1, 1, (1, 2, 3)]))

6

Six unique elements: 1, 2, 5, 0, 3, and the tuple (1, 2, 3)

### Lab 5: Examining a List
In this lab, the task is to read a set of temperature data (the monthly high temperatures at Heathrow Airport for 1948 through 2016) from a file and then find some basic information: the highest and lowest temperatures, the mean (average) temperature, and the median temperature (the temperature in the middle if all the temperatures are sorted).

The temperature data is in the file lab_05.txt in the source code directory for this chapter. Because I haven't yet discussed reading files, here's the code to read the files into a list:
```
temperatures = []
with open('lab_05.txt') as infile:
     for row in infile:
        temperatures.append(float(row.strip()))
```
You should find the highest and lowest temperature, the average, and the median. You'll probably want to use the `min()`, `max()`, `sum()`, `len()`, and `sort()` functions/methods.

In [ ]:
temperatures = []
with open('lab_05.txt') as infile:
    for row in infile:
        temperatures.append(float(row.strip()))


min_temp = min(temperatures)
max_temp = max(temperatures)
avg      = sum(temperatures) / len(temperatures)

temperatures.sort()
median   = temperatures[len(temperatures)//2]

unique_temps = len(set(temperatures))

print(f"min = {min_temp}")
print(f"max = {max_temp}")
print(f"avg = {avg}")
print(f"median = {median}")
print(f"unique temperatures = {unique_temps}")
print(f"data points = {len(temperatures)}")

min = 0.8
max = 28.2
avg = 14.84830917874396
median = 14.7
unique temperatures = 217
data points = 828
414

In [44]:
# prompt: read a set of temperature data from a file lab05.txt and then find the
#         highest and lowest temperatures, the mean temperature, and the median temperature .

temperatures = []
with open('lab_05.txt') as infile:
     for row in infile:
        temperatures.append(float(row.strip()))

# Find the highest and lowest temperature
highest_temp = max(temperatures)
lowest_temp = min(temperatures)

# Find the mean temperature
mean_temp = sum(temperatures) / len(temperatures)

# Find the median temperature
temperatures.sort()
if len(temperatures) % 2 == 0:
    median_temp = (temperatures[len(temperatures) // 2] + temperatures[len(temperatures) // 2 - 1]) / 2
else:
    median_temp = temperatures[len(temperatures) // 2]

# Print the results
print("Highest temperature:", highest_temp)
print("Lowest temperature:", lowest_temp)
print("Mean temperature:", mean_temp)
print("Median temperature:", median_temp)

TypeError: 'float' object is not callable

### Bonus
Determine how many unique temperatures are in the list.

In [ ]:
unique_temps = len(set(temperatures))

print("number of temps - {}".format(len(temperatures)))
print("number of unique temps - {}".format(unique_temps))

number of temps - 828
number of unique temps - 217

In [ ]:
# prompt: Determine how many unique temperatures are in the list.

unique_temps = len(set(temperatures))

print("number of temps - {}".format(len(temperatures)))
print("number of unique temps - {}".format(unique_temps))